In [2]:
import pandas as pd
import numpy as np

# Function to convert odd price values found in spreadsheets

def clean_weird_values(input_string):
    bad_values = ['length price', '$/ea.']
    if input_string in bad_values: 
        return np.nan
    else: 
        return str(input_string)
    
def convert_dollars(input_string):
    return input_string.replace('$','')

def createDF(supplier):
    key = supplier_excel_dict[supplier]
    df = pd.read_excel(key['file_path'], header = key['header'])
    df = df[[df.columns[key['frame']], df.columns[key['price']]]]
    df.columns = ['frame', 'price']
    df['supplier'] = supplier
    # key['df'] = df
    return df

suppliers = ['picture_woods', 'frametastic', 'studio', 'presto', 'fotiou',
            'decor', 'nurre_caxton']

## Picture Woods

In [4]:
picture_woods = pd.read_excel('./price lists/2020 Picture Woods Price List_Framing Software Vendors-Rev.xlsx')
picture_woods = picture_woods[[picture_woods.columns[0], picture_woods.columns[2]]]
picture_woods.columns = ['frame', 'price']
picture_woods['supplier'] = 'picture_woods'
picture_woods['price'] = picture_woods['price'].apply(lambda x: clean_weird_values(x))
picture_woods = picture_woods.dropna()
picture_woods['price'] = picture_woods['price'].apply(lambda x: float(convert_dollars(x)))
picture_woods.head()

    frame  price       supplier
0   004A2   1.31  picture_woods
1  004ACG   2.40  picture_woods
2  004ACL   2.17  picture_woods
3  004ASB   2.40  picture_woods
4  004AWW   2.41  picture_woods

In [179]:
import tabula

file_path = './2021-price-lists/Global/Wood Pricing Global Art - 9-12-2019.pdf'
df = tabula.read_pdf(file_path, 
                    pages=list(np.arange(1,6,1)),
                    guess=True,
                    stream=True,
                    pandas_options={'header':0},
                    multiple_tables=False
                    )
df = pd.concat(df)
df.loc[len(df)] = df.columns
df.columns = [0, 1, 2, 3 ,4]
df.head()

      0                             1     2     3     4
0  A107            1 INCH FLAT SILVER  1.96  3.56  3.81
1  A129    1 INCH ROUNDED SATIN BLACK  1.19  2.16  2.41
2  A139      1 INCH FLAT SILVER TILES  1.83  3.32  3.57
3  A152     1 INCH FLAT SILVER ORNATE  2.17  3.92  4.17
4  A291  MAROON LAQUER WITH GOLD TRIM  2.82  5.17  5.42

In [152]:
df.columns[0],df.columns[6]

('Item #', 'Length')

'1.61'

     220SATBLA  1.5  G220 SATIN BLACK  3.05  1.61
169   81NEWBLU    1   81 NEWPORT BLUE  2.45  1.48
170      81PER    1     81 PERIWINKLE  2.45  1.48
171   81SATBLA    1    81 SATIN BLACK  2.25  1.44
172   81SATCOP    1   81 SATIN COPPER  2.28  1.37
173  220SATBLA  1.5  G220 SATIN BLACK  3.05  1.61

In [181]:
import json

with open('suppliers.JSON', 'r') as f:
    supplier_dict = json.load(f)

In [188]:
for i in supplier_dict.keys:
    print(supplier_dict[i]['method'])

TypeError: 'builtin_function_or_method' object is not iterable

In [195]:
list(supplier_dict.keys())

['roma',
 'universal',
 'omega',
 'bella',
 'global metal',
 'global wood',
 'picture_woods',
 'frametastic',
 'studio',
 'presto',
 'fotiou',
 'decor',
 'nurre_caxton',
 'nielsen',
 'southwest',
 'larson juhl']

In [275]:
root = './2021-price-lists/'

file_path = root + "Foster_wholesalepricelist_2018.pdf"
df = tabula.read_pdf(file_path,
                    pages=list(np.arange(1,3,1)),
                    guess=True,
                    stream=True,
                    multiple_tables=True,
                    pandas_options={'header':1}
                    )
df = pd.concat(df)
#df = df[['Item', 'List']]
# df.columns = ['frame', 'price']
# df['supplier'] = 'universal'
df.columns

Index(['Number', 'Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Lin Ft', 'Unnamed: 6', 'Lin Ft.1',
       'Lin Ft.2', 'Cut', 'Number.1', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Lin Ft.3', 'Unnamed: 17',
       'Lin Ft.4', 'Lin Ft.5', 'Cut.1', 'Number.2', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
       'Unnamed: 27', 'Lin Ft.6', 'Unnamed: 28', 'Lin Ft.7', 'Lin Ft.8',
       'Cut.2'],
      dtype='object')

In [278]:
df[['Number', 'Cut', 'Number.1', 'Cut.1', 'Number.2', 'Cut.2']]

         Number      Cut     Number.1    Cut.1            Number.2    Cut.2
0      Moulding    Miter     Moulding    Miter            Moulding    Miter
1         11...  .  7.77     606--3".  .  5.64              720...  .  2.73
2         23...  .  5.78  606--3-1/2"  .  6.17              722...  .  5.78
3         43...  .  8.06     606--4".  .  6.75              723...  .  6.11
4         44...  . 12.50  606--4-1/2"  .  7.47              724...  .  7.02
..          ...      ...          ...      ...                 ...      ...
78       597...  .  4.58        714..  .  5.42         2" Barstock  .  2.16
79       599...  .  4.25        715..  .  4.17         3" Barstock  .  4.49
80       603...  .  7.14        716..  .  4.47  Dual-Size Barstock  .  4.47
81     606--2".  .  4.67        717..  .  2.73       1-3/4" Barcap  .  4.26
82  606--2-1/2"  .  5.13        719..  .  4.17                 NaN      NaN

[83 rows x 6 columns]

In [253]:
import regex as re

def special_match(input_string):
    search=re.compile('[^0-9.]').search
    if not bool(search(input_string)):
        return input_string
    else:
        return np.nan


special_match('gah 12.0')

nan

In [279]:
'joey'.apply(lambda x: str(x))

AttributeError: 'str' object has no attribute 'apply'

In [14]:
pd.read_excel('./2021-price-lists/valley moulding price list 2-2021.xlsx', header=6)[['Item Number', 'Length']]

      Item Number Length
0     015-100-001  $1.82
1     015-167-001  $1.66
2     015-282-001  $1.44
3     015-383-001  $1.44
4     015-483-001  $1.82
...           ...    ...
2598       503128  $0.00
2599        F6153  $2.25
2600        F6161  $2.25
2601        F9047  $2.20
2602          NaN    NaN

[2603 rows x 2 columns]